<footer class="site-footer">
	<div class="site-info inner-wide">
		<p>&copy; <a href="/">{{@blog.title}}</a> all rights reserved. <br />Site by <a target="_blank" href="http://jeremyhoughton.net/">Jeremy Houghton</a></p>		
	</div><!-- .site-info -->
</footer><!-- .site-footer -->
